
{{ define "main" }}

<div class="container" >
  <h1 class="text-center" style="margin-top: 10px;">{{ .Type | humanize}}</h1>


   {{ range .Paginator.Pages }}
      <div style="margin: 10px;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ .Title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ .Date.Format "Jan 2, 2006" }}</h6>
            <p class="card-text">{{ .Summary }}</p>
            <a href="{{ .Permalink }}" class="btn btn-primary">See all</a>
          </div>
        </div>
      </div>
      {{ end }}
    

      {{ template "_internal/pagination.html" . }}
  
  {{ end }}